<!DOCTYPE html>
<html lang="<%= assigns[:lang] %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> База знань KSUA Lu ТребаТак </title>
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32" />
    <script src="https://use.fontawesome.com/47259435b7.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/pretty-checkbox.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/lodash.core.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/cytoscape.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/cytoscape-cose-bilkent.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/ResizeSensor.js") %>"></script>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
