Це посилання для авторизації в базі знань KSUA Lu ТребаТк:

<%= @host_url %>/signin/<%= @token %>

Задля безпеки, це посилання залишатиметься актуальним 10 хвилин та може бути використане лише один раз.
